@font-face {
    font-family: 'Legendarie';
    src: url('../../../public/fonts/Legendaire\ FREE.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  